header nav {
  background: linear-gradient(black, rgba(14, 12, 12, 0.928));
}
header nav div a img {
  max-height: 7rem;
  margin-left: 1em;
}
header nav div ul li :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  position: relative;
}
header nav div ul li :hover:after {
  width: 100%;
  left: 0;
}

#homePage {
  background-image: url("../../src/assets/img/back5.jpg");
}

#reviews {
  background-image: url("../../src/assets/img/back6.jpg");
}

#productos {
  background-image: url("../../src/assets/img/background-reviews-grande.jpg");
}

#pagina-contacto {
  background-image: url("../../src/assets/img/back5.jpg");
}

#pagina-productos {
  background-image: url("../src/assets/img/background-reviews-grande.jpg");
}

.container-video {
  margin-bottom: 3%;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.container-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-producto {
  margin-bottom: 3%;
  position: relative;
  width: auto;
  height: auto;
}

.img-producto {
  width: 100%;
  display: block;
}

.img-container {
  width: 100%;
  margin: 0 auto;
}

.contenido-producto {
  background-color: rgba(143, 150, 189, 0.6);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.img-container {
  background-color: white;
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.img-producto {
  background-color: white;
  box-shadow: 0 0 20px 10px #4d4449;
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.boton-producto {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 1;
}

.boton-cart,
.boton-comprar {
  background: transparent border 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.boton-cart {
  background-color: black;
  color: white;
}

.boton-cart :hover {
  background: yellowgreen;
}

.boton-comprar :hover {
  background: violet;
  color: white;
}

.producto-info {
  background: #d3d5db;
  padding: 2rem;
}

.producto-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.producto-nombre {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.producto-precio {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}

.container-carousel {
  justify-content: center;
  display: flex;
  margin-bottom: 2rem;
}

.card {
  display: flex;
  height: 20rem;
  width: 15rem;
  background: linear-gradient(black, rgba(14, 12, 12, 0.628));
  border-radius: 6px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  left: 0px;
}
.card img {
  max-width: 360px;
  max-height: auto;
}

.card:not(:first-child) {
  margin-left: -2rem;
}

.card:hover {
  transform: translateY(-2rem);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 3rem;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 2rem;
  top: 1.8rem;
}

.bar {
  position: absolute;
  top: 6rem;
  left: 1rem;
  height: 0.3rem;
  width: 10rem;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: #009ad9;
  background: linear-gradient(90deg, #009ad9 0%, #d99300 65%, #ffba00 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.item {
  position: absolute;
  top: 5rem;
  left: calc(50% - 3.7rem);
}

footer {
  background: linear-gradient(#0e0c0c, black);
  color: white;
}
footer div div {
  padding: 0.5rem;
}
footer div div nav ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0%;
}
footer div div nav ul li {
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  height: 100%;
}

.animacion-home {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animacion-review-left {
  animation: myAnimL 3s ease-in 0s 1 normal forwards;
}

@keyframes myAnimL {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animacion-review-right {
  animation: myAnimR 3s ease-in 0s 1 normal forwards;
}

@keyframes myAnimR {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.titulo {
  text-align: center;
  background: linear-gradient(90deg, #fff, #000, #fff);
  letter-spacing: 0.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
@media screen and (min-width: 426px) {
  .card-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .card-container figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: -1rem 0 3rem #000;
    cursor: pointer;
  }
  .card-container figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }
  .card-container figure .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgba(14, 12, 12, 0.628));
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: white;
  }
  .card-container figure .capa h2 {
    margin-bottom: 1rem;
    transition: all 500ms ease-out;
    margin-top: 2rem;
  }
  .card-container figure .capa p {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .card-container figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }
  .card-container figure:hover > .capa h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .card-container figure:hover > img {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 425px) {
  .card-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .card-container figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: -1rem 0 3rem #000;
    cursor: pointer;
  }
  .card-container figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
  }
  .card-container figure .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, rgba(14, 12, 12, 0.628));
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    color: white;
  }
  .card-container figure .capa h2 {
    margin-bottom: 1rem;
    transition: all 500ms ease-out;
    margin-top: 2rem;
  }
  .card-container figure .capa p {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .card-container figure:hover > .capa {
    opacity: 1;
    visibility: visible;
  }
  .card-container figure:hover > .capa h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-container figure:hover > img {
    transform: scale(1.3);
  }
}
@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2") format("truetype"), url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;
}
.social-networks li {
  display: inline-block;
}
.social-networks a {
  display: block;
  position: relative;
  margin: 0 7px;
  width: 68px;
  height: 68px;
  font-size: 0;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  transition: all 400ms ease;
}
.social-networks a:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  background-color: #1f2027;
  transition: all 400ms ease;
}
.social-networks a:after {
  position: relative;
  display: block;
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #fff;
  font-size: 26px;
  line-height: 66px;
}
.social-networks a:hover, .social-networks a:focus {
  text-decoration: none;
}
.social-networks a:hover:before {
  transition: all 400ms;
}
.social-networks.round a:before {
  border-radius: 100px;
}
.social-networks.to-diamond a:hover:before, .social-networks.to-diamond a:focus:before {
  border-radius: 0;
  transform: rotate(-45deg);
}
.social-networks .icon-facebook:after {
  content: "\e603";
}
.social-networks .icon-facebook:hover:before, .social-networks .icon-facebook:focus:before {
  background: #8f96bd;
}
.social-networks .icon-twitter:after {
  content: "\e618";
}
.social-networks .icon-twitter:hover:before, .social-networks .icon-twitter:focus:before {
  background: #8f96bd;
}
.social-networks .icon-instagram:after {
  content: "\e604";
}
.social-networks .icon-instagram:hover:before, .social-networks .icon-instagram:focus:before {
  background: #8f96bd;
}
.social-networks .icon-whatsapp:after {
  content: "\ea93";
}
.social-networks .icon-whatsapp:hover:before, .social-networks .icon-whatsapp:focus:before {
  background: #8f96bd;
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    transform: translate3d(0, -2px, 0);
  }
}
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.parrafo-home {
  margin-top: 8%;
  margin-left: 40%;
}

.titulo {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: bold;
}

h3 {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #010303;
}

h4 {
  text-align: center;
}

@media (min-width: 1200px) {
  .navbar li {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 10px;
  }
}
@media screen and (max-width: 992px) {
  .parrafo-home {
    margin-left: auto;
  }

  .parrafo-eventos {
    margin-left: auto;
    margin-top: 0;
  }

  .container-carousel, .titulo-carousel {
    display: none;
  }
}
#homePage, #reviews, #productos, #pagina-contacto, #pagina-productos {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  background-color: black;
}

.modal-content, .parrafo-home {
  background-color: rgba(143, 150, 189, 0.6);
  color: #e9e9e9;
  padding: 15px 15px 15px 15px;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: lighter;
  font-variant: small-caps;
  line-height: 2;
}

.modal-content {
  background: linear-gradient(#0e0c0c, rgba(0, 0, 0, 0.928));
}

.glow-on-hover {
  width: 10rem;
  height: 3rem;
  border: none;
  outline: none;
  color: #fff;
  background: #f3eded;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.modal-body ul li {
  list-style-type: none;
  font-size: 1rem;
}

/*# sourceMappingURL=style.css.map */
