<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style.css">

    <link rel="stylesheet" href="<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <title>Contacto</title>
</head>

<body>
    <header>
        <nav class="menu">
            <!-- logo y nombre del sitio  -->
            <div class="logo">
                <a href="../../index.html">
                    <img src="../assets/img/logo.png" alt="GinHouse" alt="GinHouse">
                </a>
            </div>

            <div class="abrir">
                <button class="desplegable">Menu</button>
                <div class="menu-bar">
                    <!-- menu de navegacion -->
                    <ul class="grid-list">
                        <li class="grid-list-item"><a href="../../index.html">Home</a></li>
                        <li class="grid-list-item"><a href="../../index.html#reviews"> Reviews</a></li>
                        <li class="grid-list-item"><a href="../../index.html#productos">Productos</a></li>
                        <li class="grid-list-item"><a href="../../index.html#eventos"> Eventos y Catas</a></li>


                    </ul>
                </div>
            </div>

            <!-- falta searchbox y carrito de compras -->
        </nav>
    </header>

    <section id="pagina-contacto" class="container-contacto">

        <h2 class="titulo">Contactanos!</h2>


        <div class="container-form">
            <!-- formulario de contacto  y boton-->
            <form class="formulario" action=""></form>
        </div>



        <div class="container-map">
            <iframe class="map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8401827045!2d-58.37249508477018!3d-34.608202580458354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352c95f0d4f5%3A0xee8dc0a5eb259e82!2sBalcarce%2050%2C%20C1064%20CABA!5e0!3m2!1ses-419!2sar!4v1639498491878!5m2!1ses-419!2sar"
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </section>



    <!-- Footer -->

    <footer>

        <div class="grid-footer">

            <nav class="redes-sociales">
                <!-- Iconos con links de rrss y contacto -->
                <h4>Nuestros medios de contacto</h4>
                <ul>
                    <li class="icono"><a href="https://www.instagram.com/" target="_blank"><img
                                src="../assets/img/instagram.png" alt="Instagram" width="30"></a>@GinHouse</li>
                    <li class="icono"><a href="https://facebook.com" target="_blank"> <img
                                src="../assets/img/facebook.png" alt="Facebook" width="30"></a> facebook.com/GinHouse
                    </li>
                    <li class="icono"><a href="mailto:ginhouse@ginhouse.com"><img src="../assets/img/gmail.png"
                                alt="Mail" width="30"></a> ginhouse@ginhouse.com</li>
                    <li class="icono"><img src="../assets/img/telephone-call.png" alt="Numero de telefono"
                            width="30">4444-5555/2222</li>
                </ul>

            </nav>




            <div class="medios-pago">
                <!-- Medios de pago -->

                <h4>Medios de pago</h4>

                <div class="container-pago">
                    <img class="icono-pago" src="../assets/img/visa.png" alt="Visa" width="30">
                    <img class="icono-pago" src="../assets/img/transferencia-bancaria.png" alt="Transferencia Bancaria"
                        width="30">
                    <img class="icono-pago" src="../assets/img/mercado-pago.png" alt="Mercado Pago" width="40">
                    <img class="icono-pago" src="../assets/img/amex.png" alt="American Express" width="30">
                    <img class="icono-pago" src=" " alt="Efec    tivo" width="30">
                </div>

            </div>

            <div class="datos-contacto">
                <!-- direccion y horario -->

                <div class="datos-contacto">
                    <!-- direccion y horario -->

                    <p> Balcarce 50, Ciudad Autónoma de Buenos Aires</p>
                    <p> CP 1222</p>
                    <p>Horario de atención:</p>
                    <p> L- V 9:00 - 20:00 hs.</p>
                    <p>Sab 10:00 -20:00 hs.</p>

                </div>
            </div>



        </div>


    </footer>

    <!--Fin Footer -->
</body>

</html>