<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">

    <link rel="stylesheet" href="<link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


    <title>Gins</title>
</head>

<body>

    <header>
        <nav class="menu">
            <!-- logo y nombre del sitio  -->
            <div class="logo">
                <a href="../../index.html">
                    <img src="../assets/img/logo.png" alt="GinHouse" alt="GinHouse">
                </a>
            </div>

            <div class="abrir">
                <button class="desplegable">Menu</button>
                <!-- menu de navegacion -->
                <div class="menu-bar">
                    <ul class="grid-list">
                        <li class="grid-list-item"><a href="../../index.html">Home</a></li>
                        <li class="grid-list-item"><a href="../../index.html#reviews"> Reviews</a></li>
                        <li class="grid-list-item"><a href="../../index.html#productos">Productos</a></li>
                        <li class="grid-list-item"><a href="../../index.html#eventos"> Eventos y Catas</a></li>
                        <li class="grid-list-item"><a href="../views/contact.html">Contacto</a></li>
                    </ul>
                </div>
            </div>


            <!-- falta searchbox y carrito de compras -->
        </nav>
    </header>

    <section id="pagina-productos" class="grid-container-tonica">

        <!-- aca van los productos. Cada uno tendrá imagen.
        Probablemente al clickear se abra una ventana modal con la info del producto
        Botón de agregar al carrito con posibilidad de aumentar cantidad -->


        <h2 class="titulo">Gins</h2>


        <!-- un producto -->
        <div class="grid-item1">
            <div class="contenido-producto">
                <div class="img-container">
                    <img class="img-producto" src="../assets/img/producto1.jpg" alt="Heraclito">
                </div>
                <div class="boton-producto">
                    <button type="button" class="boton-cart"> add to cart
                    </button>
                    <button type="button" class="boton-comprar"> buy now
                    </button>
                </div>
            </div>

            <div class="producto-info">
                <div class="producto-info-top">
                    <h3 class="producto-nombre">Gin Heraclito</h3>
                    <p class="producto-precio">$ 1000</p>
                </div>
            </div>

        </div>
        <!-- fin producto -->
        <!-- otro producto -->
        <div class="grid-item2">
            <div class="contenido-producto">
                <div class="img-container">
                    <img class="img-producto" src="../assets/img/producto2.jpg" alt="Monkey 47">
                </div>
                <div class="boton-producto">
                    <button type="button" class="boton-cart"> add to cart
                    </button>
                    <button type="button" class="boton-comprar"> buy now
                    </button>
                </div>
            </div>

            <div class="producto-info">
                <div class="producto-info-top">
                    <h3 class="producto-nombre">Gin Monkey 47</h3>
                    <p class="producto-precio">$ 5900</p>
                </div>
            </div>
        </div>
        <!-- fin otro producto -->
        <!-- otro producto -->
        <div class="grid-item3">
            <div class="contenido-producto">
                <div class="img-container">
                    <img class="img-producto" src="../assets/img/producto3.jpg" alt="Yu Gin">
                </div>
                <div class="boton-producto">
                    <button type="button" class="boton-cart"> add to cart
                    </button>
                    <button type="button" class="boton-comprar"> buy now
                    </button>
                </div>
            </div>

            <div class="producto-info">
                <div class="producto-info-top">
                    <h3 class="producto-nombre">Yu Gin</h3>
                    <p class="producto-precio">$ 10000</p>
                </div>
            </div>
        </div>
        <!-- fin otro producto -->






    </section>

    <!-- Footer -->

    <footer>

        <div class="grid-footer">

            <nav class="redes-sociales">
                <!-- Iconos con links de rrss y contacto -->
                <h4>Nuestros medios de contacto</h4>
                <ul>
                    <li class="icono"><a href="https://www.instagram.com/" target="_blank"><img
                                src="../assets/img/instagram.png" alt="Instagram" width="30"></a>@GinHouse</li>
                    <li class="icono"><a href="https://facebook.com" target="_blank"> <img
                                src="../assets/img/facebook.png" alt="Facebook" width="30"></a> facebook.com/GinHouse
                    </li>
                    <li class="icono"><a href="mailto:ginhouse@ginhouse.com"><img src="../assets/img/gmail.png"
                                alt="Mail" width="30"></a> ginhouse@ginhouse.com</li>
                    <li class="icono"><img src="../assets/img/telephone-call.png" alt="Numero de telefono"
                            width="30">4444-5555/2222</li>
                </ul>

            </nav>




            <div class="medios-pago">
                <!-- Medios de pago -->

                <h4>Medios de pago</h4>

                <div class="container-pago">
                    <img class="icono-pago" src="../assets/img/visa.png" alt="Visa" width="30">
                    <img class="icono-pago" src="../assets/img/transferencia-bancaria.png" alt="Transferencia Bancaria"
                        width="30">
                    <img class="icono-pago" src="../assets/img/mercado-pago.png" alt="Mercado Pago" width="40">
                    <img class="icono-pago" src="../assets/img/amex.png" alt="American Express" width="30">
                    <img class="icono-pago" src=" " alt="Efec    tivo" width="30">
                </div>

            </div>

            <div class="datos-contacto">
                <!-- direccion y horario -->

                <div class="datos-contacto">
                    <!-- direccion y horario -->

                    <p> Balcarce 50, Ciudad Autónoma de Buenos Aires</p>
                    <p> CP 1222</p>
                    <p>Horario de atención:</p>
                    <p> L- V 9:00 - 20:00 hs.</p>
                    <p>Sab 10:00 -20:00 hs.</p>

                </div>
            </div>



        </div>


    </footer>

    <!--Fin Footer -->

    <!--Fin Footer -->

</body>

</html>