<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
        content="Comprá productos de GinHouse por internet. Tenemos la mayor variedad de Aguas y gaseosas tónicas nacionales e importadas para que armes tus gin tonic. Hacé tu pedido y pagalo online.">

    <!-- Keywords -->
    <meta name="keywords"
        content="Gin, Ginebra, Tónica, Small batch, Beefeater, Tanqueray, Argentina, importado, alcohol, martini, artesanal, cata, tonic, destilado, whisky, vino, wine, craft. bebida, Bombay">

    <!-- Open graph -->
    <meta property="og:title" content="Tienda Online de GinHouse - Tu tienda de Gin">
    <meta property="og:description"
        content="Comprá productos de GinHouse por internet. Tenemos gins nacionales, artesanales, e importados. Contamos con la mayor variedad de aguas tónicas. Hacé tu pedido y pagalo online.">
    <meta property="og:image" content="url a insertar">
    <!-- cuando la suba será completada la url -->

    <!-- Fuente -->

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootsrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- CSS -->

    <link rel="stylesheet" href="../../css/style.css">

    <!-- Favicon -->

    <link rel="shortcut icon" href="../../src/assets/img/favicon.ico" type="image/x-icon">
    <title>Aguas Tónicas - Tienda Online Ginhouse </title>
</head>

<body>

    <header>

        <!-- Navbar -->
        <nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html"><img src="../assets/img/logo.png" alt="GinHouse"
                        width="50%"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
                    aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="navbarDark">

                    <ul class="navbar-nav ms-auto mb-2 mb-xl-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html#reviews">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../index.html#productos">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/contact.html">Contacto</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <section id="pagina-productos">

        <div class="container">
            <div class="row">
                <h2 class="titulo">Aguas Tónicas</h2>
            </div>
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container-producto">
                        <div class="contenido-producto">
                            <div class="img-container">
                                <img class="img-producto" src="../assets/img/tonica1.jpg" alt="Tonica"
                                    data-bs-toggle="modal" data-bs-target="#modaltonica1">
                            </div>
                            <div class="boton-producto">
                                <button type="button" class="boton-cart"> add to cart
                                </button>
                                <button type="button" class="boton-comprar"> buy now
                                </button>
                            </div>
                        </div>

                        <div class="producto-info">
                            <div class="producto-info-top">
                                <h3 class="producto-nombre">Britvic Indian Tonic Water</h3>
                                <p class="producto-precio">$ 180</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container-producto">
                        <div class="contenido-producto">
                            <div class="img-container">
                                <img class="img-producto" src="../assets/img/tonica2.jpg" alt="Tonica"
                                    data-bs-toggle="modal" data-bs-target="#modaltonica2">
                            </div>
                            <div class="boton-producto">
                                <button type="button" class="boton-cart"> add to cart
                                </button>
                                <button type="button" class="boton-comprar"> buy now
                                </button>
                            </div>
                        </div>

                        <div class="producto-info">
                            <div class="producto-info-top">
                                <h3 class="producto-nombre">Britvic Spicy Ginger Ale</h3>
                                <p class="producto-precio">$ 180</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container-producto">
                        <div class="contenido-producto">
                            <div class="img-container">
                                <img class="img-producto" src="../assets/img/tonica3.jpg" alt="Tonica"
                                    data-bs-toggle="modal" data-bs-target="#modaltonica3">
                            </div>
                            <div class="boton-producto">
                                <button type="button" class="boton-cart"> add to cart
                                </button>
                                <button type="button" class="boton-comprar"> buy now
                                </button>
                            </div>
                        </div>

                        <div class="producto-info">
                            <div class="producto-info-top">
                                <h3 class="producto-nombre">Britvic Ginger Beer</h3>
                                <p class="producto-precio">$ 180</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="container-producto">
                        <div class="contenido-producto">
                            <div class="img-container">
                                <img class="img-producto" src="../assets/img/tonica4.jpg" alt="Tonica"
                                    data-bs-toggle="modal" data-bs-target="#modaltonica4">
                            </div>
                            <div class="boton-producto">
                                <button type="button" class="boton-cart"> add to cart
                                </button>
                                <button type="button" class="boton-comprar"> buy now
                                </button>
                            </div>
                        </div>

                        <div class="producto-info">
                            <div class="producto-info-top">
                                <h3 class="producto-nombre">Britvic Cranberry Juice</h3>
                                <p class="producto-precio">$ 180</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- Modal1 -->
        <div class="modal fade" id="modaltonica1" tabindex="-1" aria_hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header py-lg-0">
                        <h5 class="modal-title titulo" id="modalTitle">Britvic - Indian Tonic Water</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-labelled="close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Origen: Hemel Hempstead,Reino Unido</li>
                            <li>Britvic es una línea de mixers premium y soft drinks importados desde el Reino Unido,
                                diseñados para complementar bebidas y cocktails. Llevan el sello Royal Warrant,
                                distinción otorgada por la Reina Isabel II que los acredita como proveedores en la Casa
                                Real. La línea recibió premios internacionales como el Superior Taste Award del
                                International Taste & Quality Institute de Bruselas y el Oro en el Bartenders Brand
                                Award de Class Magazine. Y su Tónica fue elegida como la ideal para preparar Gin Tonic
                                en distintas pruebas realizadas entre especialistas, entre ellas la de Imbibe Magazine
                            </li>
                        </ul>


                    </div>

                </div>
            </div>

        </div>

        <!-- Modal2 -->

         <div class="modal fade" id="modaltonica2" tabindex="-1" aria_hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header py-lg-0">
                        <h5 class="modal-title titulo" id="modalTitle">Britvic - Ginger Ale</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-labelled="close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Origen: Hemel Hempstead,Reino Unido</li>
                            <li>Britvic es una línea de mixers premium y soft drinks importados desde el Reino Unido,
                                diseñados para complementar bebidas y cocktails. Llevan el sello Royal Warrant,
                                distinción otorgada por la Reina Isabel II que los acredita como proveedores en la Casa
                                Real. La línea recibió premios internacionales como el Superior Taste Award del
                                International Taste & Quality Institute de Bruselas y el Oro en el Bartenders Brand
                                Award de Class Magazine. Y su Tónica fue elegida como la ideal para preparar Gin Tonic
                                en distintas pruebas realizadas entre especialistas, entre ellas la de Imbibe Magazine
                            </li>
                        </ul>


                    </div>

                </div>
            </div>

        </div>

         <!-- Modal3 -->

         <div class="modal fade" id="modaltonica3" tabindex="-1" aria_hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header py-lg-0">
                        <h5 class="modal-title titulo" id="modalTitle">Britvic - Ginger Beer</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-labelled="close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Origen: Hemel Hempstead,Reino Unido</li>
                            <li>Britvic es una línea de mixers premium y soft drinks importados desde el Reino Unido,
                                diseñados para complementar bebidas y cocktails. Llevan el sello Royal Warrant,
                                distinción otorgada por la Reina Isabel II que los acredita como proveedores en la Casa
                                Real. La línea recibió premios internacionales como el Superior Taste Award del
                                International Taste & Quality Institute de Bruselas y el Oro en el Bartenders Brand
                                Award de Class Magazine. Y su Tónica fue elegida como la ideal para preparar Gin Tonic
                                en distintas pruebas realizadas entre especialistas, entre ellas la de Imbibe Magazine
                            </li>
                        </ul>


                    </div>

                </div>
            </div>

        </div>

         <!-- Modal4 -->

         <div class="modal fade" id="modaltonica4" tabindex="-1" aria_hidden="true" aria-labelledby="modalTitle">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header py-lg-0">
                        <h5 class="modal-title titulo" id="modalTitle">Britvic - Cranberry Juice</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-labelled="close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Origen: Hemel Hempstead,Reino Unido</li>
                            <li>Britvic es una línea de mixers premium y soft drinks importados desde el Reino Unido,
                                diseñados para complementar bebidas y cocktails. Llevan el sello Royal Warrant,
                                distinción otorgada por la Reina Isabel II que los acredita como proveedores en la Casa
                                Real. La línea recibió premios internacionales como el Superior Taste Award del
                                International Taste & Quality Institute de Bruselas y el Oro en el Bartenders Brand
                                Award de Class Magazine. Y su Tónica fue elegida como la ideal para preparar Gin Tonic
                                en distintas pruebas realizadas entre especialistas, entre ellas la de Imbibe Magazine
                            </li>
                        </ul>


                    </div>

                </div>
            </div>

        </div>


    </section>


    <!-- footer  -->

    <footer>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-7">

                    <nav class="redes-sociales">
                        <!-- Iconos con links de rrss y contacto -->
                        <h4>Nuestros medios de contacto</h4>
                        <ul class="social-networks round to-diamond">

                            <li><a href="https://twitter.com/" class="icon-twitter">Twitter</a></li>
                            <li><a href="https://www.facebook.com/" class="icon-facebook">Facebook</a></li>
                            <li><a href="https://instagram.com" class="icon-instagram">Instagram</a></li>
                            <li><a href="" class="icon-whatsapp">WhatsApp</a></li>

                        </ul>

                    </nav>
                </div>


                <div class="col-sm-12 col-md-4 col-lg-5">
                    <nav class="datos-contacto">
                        <!-- direccion y horario -->

                        <p> Balcarce 50, Ciudad Autónoma de Buenos Aires</p>
                        <p> CP 1222</p>
                        <p>Horario de atención:</p>
                        <p> L- V 9:00 - 20:00 hs.</p>
                        <p>Sab 10:00 -20:00 hs.</p>


                    </nav>
                </div>
            </div>
        </div>

    </footer>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!--Fin Footer -->
</body>

</html>