%background-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  background-color: black;
}

%parrafos-main {
  background-color: rgba(143, 150, 189, 0.6);
  padding: 15px 15px 15px 15px;
  color: rgb(233 233 233);
  font-size: 1.3rem;
  font-style: italic;
  font-weight: lighter;
  font-variant: small-caps;
  line-height: 2;
}
