// Animacion home
.animacion-home {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;

  -o-animation: fadein 4s;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//   Animacion reviews
.animacion-review-left {
  animation: myAnimL 3s ease-in 0s 1 normal forwards;
}

@keyframes myAnimL {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animacion-review-right {
  animation: myAnimR 3s ease-in 0s 1 normal forwards;
}
@keyframes myAnimR {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

//Animacion titulos

.titulo {
  text-align: center;
  background: linear-gradient(90deg,#fff, #000, #fff);
  letter-spacing: 0.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

// Animacion seccion productos

@media screen and (min-width: 426px) {
  .card-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    figure {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: -1rem 0 3rem #000;

      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
      }
      .capa {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0, 0, 0), rgba(14, 12, 12, 0.628));
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        color: white;

        h2 {
          margin-bottom: 1rem;
          transition: all 500ms ease-out;
          margin-top: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
          width: 100%;
          max-width: 300px;
          margin: auto;
        }
      }
      &:hover > .capa {
        opacity: 1;
        visibility: visible;
      }
      &:hover > .capa h2 {
        margin-top: 4rem;
        margin-bottom: 2rem;
      }
      &:hover > img {
        transform: scale(1.3);
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .card-container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    figure {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: -1rem 0 3rem #000;

      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
      }
      .capa {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 100%;
        background: linear-gradient(rgb(0, 0, 0), rgba(14, 12, 12, 0.628));
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        color: white;

        h2 {
          margin-bottom: 1rem;
          transition: all 500ms ease-out;
          margin-top: 2rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5;
          width: 100%;
          max-width: 300px;
          margin: auto;
        }
      }
      &:hover > .capa {
        opacity: 1;
        visibility: visible;
      }
      &:hover > .capa h2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      &:hover > img {
        transform: scale(1.3);
      }
    }
  }
}

//Animacion iconos rrss

@font-face {
  font-family: "icomoon";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?3qkin2");
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.eot?#iefix3qkin2")
      format("embedded-opentype"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.woff?3qkin2")
      format("woff"),
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.ttf?3qkin2")
      format("truetype"),
    url("fhttps://s3-us-west-2.amazonaws.com/s.cdpn.io/93/icomoon.svg?3qkin2#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

.social-networks {
  margin: 0 0 35px;
  padding: 0;
  font-size: 0;
  text-align: center;

  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 68px;
    height: 68px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;
    transition: all 400ms ease;

    &:before {
      content: "";
      position: absolute;
      display: inline-block;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      background-color: #1f2027;
      transition: all 400ms ease;
    }

    &:after {
      position: relative;
      display: block;
      font-family: "icomoon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #fff;
      font-size: 26px;
      line-height: 66px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }

    &:hover:before {
      transition: all 400ms;
    }
  }

  &.round a:before {
    border-radius: 100px;
  }

  &.to-diamond a:hover:before,
  &.to-diamond a:focus:before {
    border-radius: 0;
    transform: rotate(-45deg);
  }

  $networks: facebook "\e603"rgb(143, 150, 189),
    twitter "\e618"rgb(143, 150, 189), instagram "\e604"rgb(143, 150, 189),
    whatsapp "\ea93"rgb(143, 150, 189);

  @each $network in $networks {
    .icon-#{nth($network, 1)} {
      &:after {
        content: "#{nth($network, 2)}";
      }

      &:hover:before,
      &:focus:before {
        background: nth($network, 3);
      }
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}
