//Bg seccion Home
#homePage {
    background-image: url("../../src/assets/img/backgroundhome.jpg");
    @extend %background-section;
}
//Bg seccion Reviews

#reviews {
    background-image: url("../../src/assets/img/backgroundreviews.jpg");
    @extend %background-section;
}
//Bg seccion Productos

#productos {
    background-image: url("../../src/assets/img/backgroundproductos.jpg");
    @extend %background-section;
}
//Bg view Contacto

#pagina-contacto {
    background-image: url("../../src/assets/img/backgroundhome.jpg");
    @extend %background-section;
}
//Bg view Productos

#pagina-productos {
    background-image: url("../src/assets/img/backgroundproductos.jpg");
    @extend %background-section;
}