footer {
  background: linear-gradient(rgb(14, 12, 12), rgb(0, 0, 0));
  color:white;
  div {
    div {
      padding: 0.5rem;
      nav {
        ul {
          list-style-type: none;
          padding-left: 0;
          padding-right: 0%;
          li {
            padding: 0.3rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
