//Header y navbar
header {
  nav {
    background: linear-gradient(rgb(0, 0, 0), rgba(14, 12, 12, 0.928));
    div {
      a {
        img {
          max-height: 7rem;
          margin-left: 1em;
        }
        
      }
      ul {
        li {
          :after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #fff;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
            position: relative;
          }
          :hover:after { 
            width: 100%; 
            left: 0; 
          }
        }
      }
    }
  }
}


