//Estilos de texto
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

//Parrafos del Home
.parrafo-home {
  @extend %parrafos-main;
  margin-top: 8%;
  margin-left: 40%;
}

//Titulos seccion y modal general
.titulo {
  text-align: center;
  font-size: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  font-weight: bold;
}
h3 {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #010303;
}
//Textos footer
h4 {
  text-align: center;
}
